<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style>
       /* body        { padding-top:80px; }*/
       body{
       	background-image: url(/images/banner-1.jpg);
       	background-size: cover;
       	background-repeat: no-repeat;
       	height: 100%;
       	width: 100%;

       	background-position: top 50%;
       	
       	z-index: 0;
       	/*height: 100%;
*/       }
		.container-fluid{
			width: 100%;
				height: 100%;
				padding:0; 
		}

		.jumbotron{
			padding-top: 23%;
			background-color: transparent;
			color: rgb(113,216,255);
		}
		a{
			color: rgb(113,216,255)!important;
		}
		h1{
			font-size: 80px!important;
			font-weight: 500;
			font-family: cursive;
		}
		p{
			font-size: 40px!important;
		}
		.btn:hover{
			border:2px solid rgb(113,216,255);
			color: rgb(113,216,255)!important;
			background-color: white;
		}
		.btn{
			color:white!important;
			background-color: rgb(113,216,255);
			border:2px solid rgb(113,216,255);;
		}
    </style>

</head>
<body>
<div class="over container-fluid">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> NEXT GEN CLOUD</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default btn-lg"><span class="fa fa-user"></span>  Login</a>
        <a href="/signup" class="btn btn-default btn-lg"><span class="fa fa-user"></span> Signup</a>
    	
    </div>
</div>
<script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script>

</body>
</html>