<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    .btn:hover{
			border:2px solid rgb(113,216,255);
			color: rgb(113,216,255)!important;
			background-color: white;
		}
		.btn{
			color:white!important;
			background-color: rgb(113,216,255);
			border:2px solid rgb(113,216,255);;
		}
    </style>
</head>
<body>
<div class="container">
<a type="button" class="btn btn-default btn-lg" href="/upload">Back to home</a>
</div>
</body>
</html>